*{
    font-family: 'Inter', sans-serif;
}
body {
    background: #f5f7fb;
    font-family: Inter, sans-serif;
}

.card-custom {
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.btn-primary {
    border-radius: 10px;
}

.auction-title {
    font-weight: 700;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-ended {
    color: red;
    font-weight: bold;
}